<div class="container-fluid"> <!--correspond à tout le contenu de la page sans le header et footer-->
    <!-- correspondant aux contenu texte avant le calendrier-->
    <h1><a href="https://www.jdadijon.com/basket/"><img class="image-club" src="{{club.Image}}" width="150">
    </a>{{club.Titre}}</h1>
    <div class="row">

        <div class="col">
            <h2 class="h2Presta">A propos</h2>

            <div class="row mx-5">
                <div class="paragraphe text-left">
                    <p style="text-indent: 45px;">{{club.Texte}}</p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2 class="h2Presta">Initiation/Activités</h2>
    <div class="row ml-5"></div>
    <div class="paragraphe text-center">
        {{club.Initiation}}
    </div>
    <hr>
    <h2 class="h2Presta">Calendrier </h2>
    <br>

    <div class="row ml-5 justify-content-center">
        <table class="border p-5">
            <thead>
            <tr class="align-middle text-center">
                <th></th>
                <th>8h</th>
                <th>9h</th>
                <th>10h</th>
                <th>11h</th>
                <th>12h</th>
                <th>13h</th>
                <th>14h</th>
                <th>15h</th>
                <th>16h</th>
                <th>17h</th>
                <th>18h</th>
                <th>19h</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Samedi</td>
            </tr>
            <tr>
                <td>Dimanche</td>
            </tr>

            </tbody>
        </table>

    </div>


    <hr>
    <h2 class="h2Presta">Commentaires</h2>
    <div class="container">
        <div class="row me-4">
            {{# each club.Commentaires}}
                <div class="col-md-4 py-4 ps-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title">{{this.Nom}}</h3>
                            <p class="card-text"> <b> Commentaire : {{this.Commentaire}}</b> </p>
                            <p class="text-right red"> {{this.Note}}/10</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div><br><br>



</div>