<div class="container-fluid"> <!--correspond à tout le contenu de la page sans le header et footer-->
    <!-- correspondant aux contenu texte avant le calendrier-->
    <h1><a href="https://www.jdadijon.com/basket/"><img class="image-club" src="{{club.Image.Titre}}" width="150">
    </a>{{club.Titre}}</h1>

    <div class="row my-5">
        <div class="col ml-3" style="background-color: #1a265a;">
            <div class="row mx-5 my-2 justify-content-center">
                <h2 style="color: white;">A PROPOS</h2>
            </div>
            {{# if club.Texte.Gauche}}
                {{# each club.Texte.Gauche}}
                    <div class="row mx-4 mb-5">
                        <p style="text-indent: 40px; color: white;">{{this}}</p>
                    </div>
                {{/each}}
            {{/if}}
        </div>
        <div class="col my-auto mr-3">
            <div class="row mx-5 my-5 justify-content-center">
                <a><img src="{{club.Image.Body}}"
                        width="300" height="300" style="border-radius: 50%;"></a>
            </div>
            <div class="row mx-4 my-5">
                {{# if club.Texte.Droite}}
                    <p class="justified-text-center" style="color: black; font-weight: bold;">
                        {{club.Texte.Droite}}
                    </p>
                {{/if}}
            </div>
        </div>
    </div>

    <hr>
    <h2 class="h2Presta">Initiation/Activités</h2>
    <div class="row ml-5"></div>
    <div class="paragraphe text-center">
        {{club.Initiation}}
    </div>
    <hr>
    <h2 class="h2Presta">Calendrier sur le stand</h2>
    <br>

    <div class="row mx-5 justify-content-center">
        <table class="table table-bordered p-5 text-center">
            <thead>
            <tr class="align-middle text-center">
                <th></th>
                <th>8h</th>
                <th>9h</th>
                <th>10h</th>
                <th>11h</th>
                <th>12h</th>
                <th>13h</th>
                <th>14h</th>
                <th>15h</th>
                <th>16h</th>
                <th>17h</th>
                <th>18h</th>
                <th>19h</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Samedi</th>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
            </tr>
            <tr>
                <th>Dimanche</th>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
                <td>Initiation</td>
            </tr>

            </tbody>
        </table>

    </div>


    <hr>
    <h2 class="h2Presta">Commentaires</h2>
    <div class="container">
        <div class="row me-4">
            {{# each club.Commentaires}}
                <div class="col-md-4 py-4 ps-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title">{{this.Nom}}</h3>
                            <p class="card-text"> <b> Commentaire : {{this.Commentaire}}</b> </p>
                            <p class="text-right red"> {{this.Note}}/10</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div><br><br>



</div>