<div class="container">
    <div class="row m-4">
        <div class="col"><h1>Clubs</h1></div>
        <div class="col my-auto">
            <div class="d-flex justify-content-center">
                <div class="form-inline">
                    <input class="form-control" id="search" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn my-2 my-sm-0" id="deselect"><i class="bi bi-x-square-fill"></i></button>
                </div>
            </div>
        </div>
        {{# if filtres}}
            <div class="col my-auto">
                <div class="d-flex justify-content-center">
                    <div class="form-inline">
                        {{# each filtres}}
                            <div class="col">
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: #6ec8cb; font-weight: bold; color: white;">
                                        {{@key}}
                                    </button>
                                    <div class="dropdown-menu">
                                        {{# each this}}
                                            <div class="dropdown-item">
                                                <a><input type="radio" name="option" value="{{this}}"> {{this}}</a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>

    <div class="row mx-auto" id="research">
        {{# if clubs}}
            {{# each clubs}}
                <div class="col-12 mt-3 py-4 ps-5 my-auto mx-auto">
                    <div class="card">
                        <div class="card-horizontal">
                            <div>
                                <img class="" src="{{this.[2]}}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{this.[0]}} </h3>
                                {{# each this.[1]}}
                                    <p class="card-text"> <b> {{@key}} : </b> {{this}}</p>
                                {{/each}}
                                <a href="{{this.[3]}}" methods="GET" class="btn btn-primary">Voir la page</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            $('input[name="option"]').prop('checked',false);
            var value = $(this).val().toLowerCase();
            $("#research .col-12").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function(){
        $('input[name="option"]').on("click", function() {
            var value = $(this).val().toLowerCase();
            $("#research .col-12").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function(){
        $('button[id="deselect"]').on("click", function() {
            $('input[name="option"]').prop('checked',false);
            var value = $(this).val().toLowerCase();
            $("#research .col-12").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
